


/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css";
@import "../node_modules/bootswatch/dist/united/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
//@import "node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.carousel.min.css";
//@import "node_modules/ngx-owl-carousel-o/lib/styles/prebuilt-themes/owl.theme.default.min.css";


span{
    font-size: 1.2em;
    font-weight: 500;
    font-family: Segoe UI;
}
p{
    font-size: 1.2em;
    font-weight: 500;
    font-family: Segoe UI;
    color: #09052e;

}

h1,h2,h3,h4,h5,h6{
    font-family: Segoe UI;
    color: #480470;


}

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
     z-index: -1000;
 position: relative;
    
}

label.xng-breadcrumb-trail {
    margin-bottom: 0;
    color: #09052e;
    
}

.bg-primary {
    background-color: #e954200f !important;
}
.bg-secondary {
    background-color: #f7f7f700 !important;
}

a.xng-breadcrumb-link {
color: black;
}

.xng-breadcrumb-separator {
    padding: 0 0;
}

.StripeElement {
    height: 3.125em;
}

.btn-primary {
    color: #ffffff;
    background-color: #480470;
    border-color: #480470;
     border-radius: 30px;
}

.btn-secondary {
    color: #ffffff;
    background-color: #480470;
    border-color: #480470;
     border-radius: 30px;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: rgb(64, 98, 99);
    border-color: rgb(64, 98, 99);
     border-radius: 30px;
}

.btn-outline-primary:hover {
    color: #ffffff;
    background-color: rgb(64, 98, 99);
    border-color: #480470;
    border-radius: 30px;
}
.btn-outline-primary {
    color: #ffffff;
    background-color: #480470;
    border-color: #480470;
     border-radius: 30px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #480470;
    border-color: #480470;
    background-color: #480470;
}


element.style {
    color: #eeeef4;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 15px;
}
 
::-webkit-scrollbar-track {
    background-color: #7534343a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #300955; 
}

@media only screen
and(min-device-width: 320px)
and(max-device-width: 568px) {
  html{
    height: 100%;
    scroll-behavior: smooth;
    width: 100%;   
}
}

.page-item.active .page-link {
    z-index: 3;
    color: #09052e;
    background-color: #480470;
    border-color: #ffffff;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #09052e;
    background-color: #d69d82;
    border: 1px solid #dee2e6;
}

.text-warning {
    color: #09052e !important;
}


html{
    height: 100%;
    scroll-behavior: smooth;
    width: 100%;   
}

body {  
 //background: rgb(176,244,235);
//background: linear-gradient(0deg, rgba(176,244,235,1) 0%, rgba(233,238,244,1) 100%);
     //background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
     background-image: url('https://res.cloudinary.com/dyzeuqi75/image/upload/v1636545553/24d7d916cf4de2d227a03f8b05325414_m0xtx9.jpg');
     
     //background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    color:#09052e;
     margin: 0; height: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  
}
//body { margin: 0; height: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.product-tabset > .nav-tabs > li.open > a, .product-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.product-tabset > .nav-tabs > li.open > a > i, .product-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.product-tabset > .nav-tabs > li.open .dropdown-menu, .product-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.product-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #09052e;
  position: relative;
}

.product-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.product-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.product-tabset > .tab-content {
  margin-top: -3px;
  background-color: transparent;
  border: 0;
  border-top: 1px solid transparent;
  padding: 15px 0;
  color: #09052e;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #09052e;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #09052e;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}




.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    overflow: hidden;
  }
  
  .progress-bar {
    background: rgba(237,255,184,1);
    background: -moz-linear-gradient(left, rgba(237,255,184,1) 0%, rgba(97,201,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(237,255,184,1)), color-stop(100%, rgba(97,201,0,1)));
    background: -webkit-linear-gradient(left, rgba(237,255,184,1) 0%, rgba(97,201,0,1) 100%);
    background: -o-linear-gradient(left, rgba(237,255,184,1) 0%, rgba(97,201,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(237,255,184,1) 0%, rgba(97,201,0,1) 100%);
    background: linear-gradient(to right, rgba(237,255,184,1) 0%, rgba(97,201,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edffb8', endColorstr='#61c900', GradientType=1 );
    width: 0%;
    transition-timing-function: ease-out;
    transition: width .5s;
    height: 100vh;
  }












