<!---->
<div  class="card">

<div class="row">
  <div class="col-md-8 summary">
    <div>
      <h5><b>Order Summary</b></h5>
    </div>
    <hr>
   
    <ng-container class="summary" *ngIf="address && (isAdmin$ | async)">
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>Full Name</strong></div>
        <div class="col text-right">{{address.firstName + ' '+ address.lastName }}</div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>Street</strong></div>
        <div class="col text-right">{{address.street}}</div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>City</strong></div>
        <div class="col text-right">{{address.city}}</div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>State</strong></div>
        <div class="col text-right">{{address.state}}</div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>ZipCode</strong></div>
        <div class="col text-right">{{address.zipcode}}</div>
      </div>
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>Phone</strong></div>
        <div class="col text-right">{{address.phoneNumber}}</div>
      </div>
  
    </ng-container>
    <hr>
  
    <form>
      <div class="row">
        <div class="col" style="padding-left:0;"><strong>Order subtotal</strong></div>
        <div class="col text-right">{{subtotal | currency:'R'}}</div>
      </div>
  
      <p><strong>Shipping and handling</strong></p>
      <p class="font-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
      <div class="col text-right">{{shippingPrice | currency:'R'}}</div>
  
      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col"><strong>Total</strong></div>
        <div class="col text-right ">{{total | currency:'R'}}</div>
  
      </div>
    </form>
  
  
  </div>

</div>













