<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container mt-1">
    <div class="row">

        <div class="col-md-12 py-1 mb-1">
            <app-order-totals *ngIf="(basketTotals$ | async)" [shippingPrice]="(basketTotals$ | async).shipping"
                [subtotal]="(basketTotals$ | async).subtotal" [total]="(basketTotals$ | async).total"></app-order-totals>
        </div>
        
        <div  class="col-md-12 py-1 mb-1">
            <app-stepper [linearModeSelected]="true" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"> </app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delivery'" 
                    [completed]="(checkoutForm.get('deliveryForm')).valid">
                <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
                </cdk-step>
             
            </app-stepper>
        </div>
        
    </div>
</div>