<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />
<!-- Links -->
<section class="links">
    <div class="links-inner">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_57TxAX.json" background="transparent" speed="1"
            style="width: 300px; height: 200px;text-align:center" loop autoplay></lottie-player>
    </div>
</section>

<footer class="taku">
    <div class="taku" class="container py-5">
        <div class="row py-3">
            
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 style="color: #480470" class="text-uppercase font-weight-bold mb-4">Secure payment</h5>
                <img width="180" style="border-radius: 10px;" alt="logo" [routerLink]="['/']" class="logo"
                    src="https://res.cloudinary.com/dyzeuqi75/image/upload/v1636627882/set-up-a-payfast-payment-gateway-for-your-website_golzwg.jpg" />
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 style="color: #480470" class="text-uppercase font-weight-bold mb-4">Useful links</h5>
                <ul class="list-unstyled">
                    <li><a style="color: #09052e;" href="/"><i  style="color: #480470; font-size: 25px;" class="fa  fa-home text-#09052e mr-2"></i>Home</a></li>
                    <li><a style="color: #09052e;" href="/shop"><i  style="color: #480470; font-size: 25px;" class="fa  fa-shopping-bag text-#09052e mr-2"></i>Shop</a></li>
                    <li><a style="color: #09052e;" href="/contact us"><i  style="color: #480470; font-size: 25px;" class="fa  fa-address-card text-#09052e mr-2"></i>Contact Us</a></li>
                    
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 style="color: #480470" class="text-uppercase font-weight-bold mb-4">Customer Service</h5>
                <ul class="list-unstyled">
                    <li><a style="color: #09052e;" href="/faq"><i  style="color: #480470; font-size: 25px;" class="fab  fa-instagram text-#09052e mr-2"></i>Instagram</a></li>
                    <li><a style="color: #09052e;" href="/shipping"><i  style="color: #480470; font-size: 25px;" class="fab  fa-twitter text-#09052e mr-2"></i>Twitter</a></li>
                    <li><a style="color: #09052e;" href="/contact"><i  style="color: #480470; font-size: 25px;" class="fab  fa-facebook text-#09052e mr-2"></i>Facebook</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <h5 style="color: #480470" class="text-uppercase font-weight-bold mb-4">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a style="color: #09052e;" href="https://www.facebook.com/"><i  style="color: #480470; font-size: 25px;" class="ico" class="fa fa-map-marker mr-2" aria-hidden="true"></i>000 Example St, CBD, Johannesburg, 0000,
                    South Africa.</a></li>
                    <li><a style="color: #09052e;" href="https://www.instagram.com/"><i  style="color: #480470; font-size: 25px;" class="fa fa-phone-square mr-2" aria-hidden="true"></i>066 000 00 00</a></li>
                    <li><a style="color: #09052e;" href="https://www.twitter.com/"><i  style="color: #480470; font-size: 25px;" class="fa fa-envelope mr-2" aria-hidden="true"></i>infor@example.co.za</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <hr class="p-0 m-0 b-0">
    <div class="taku py-2">
        <div class="container text-center">
            <a href="https://takudzwam.live" class="text-muted mb-0 py-2"><i class="fa fa-code" aria-hidden="true"></i> Designed and Created By
                <span style="color: #09052e;">Sputnik Tech</span> </a>
            <p class="text-muted mb-0 py-2">© Tyre E-commerce, All rights reserved.</p>

        </div>
    </div>
</footer>