
 

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif
 }

 body {
     background: linear-gradient(135deg, #00c3ff, #eeef1c);
     background: linear-gradient(135deg, #fc00ff, #00dbde);
     background-image: linear-gradient(135deg, #ff00ba 0%, #fae713 100%);
     background-image: linear-gradient(150deg, #5a00ff 0%, #ff1ff7 100%, #ff1ff7 100%);
     min-height: 93vh
 }

 .wrapper {
     max-width: 500px;
     margin: 50px auto
 }

 .wrapper .card {
     max-width: 400px;
     min-height: 450px;
     margin: 30px;
background: rgba( 255, 255, 255, 0.20 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 10.0px );
-webkit-backdrop-filter: blur( 10.0px );
border-radius: 15%;
border: 1px solid rgba( 255, 255, 255, 0.18 );
     cursor: pointer;
     padding: 0.8rem
 }

 .wrapper .card a {
     text-decoration: none;
     color: #09052e
 }

 .wrapper .card a:hover {
     color: #09052e
 }

 .wrapper .card .input-field {
     border: 1px solid #09052e;
     border-radius: 5px;
     color: #09052e;
     padding: 0.3rem
 }

 .wrapper .card .input-field input {
     background-color: inherit
 }

 .wrapper .card .input-field input.form-control,
 .wrapper .card .input-field input.form-control:focus {
     border: none;
     outline: none;
     box-shadow: none;
     color: #09052e
 }

 .wrapper .card .input-field button.btn {
     color: #09052e;
     padding: 0rem;
     padding-right: 0.5rem
 }

 .wrapper .card .input-field button.btn:hover {
     color: #09052e
 }

 .wrapper .card .input-field button.btn:focus {
     border: none;
     outline: none;
     box-shadow: none
 }

 .wrapper .card .input-field input::placeholder {
     color: #09052e
 }

 .wrapper .card .option {
     display: block;
     position: relative;
     padding-left: 25px;
     cursor: pointer;
     user-select: none
 }

 .wrapper .card .option span.text-light-white:hover {
     color: #09052e
 }

 .wrapper .card .option input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0
 }

 .checkmark {
     position: absolute;
     top: 3px;
     left: 0;
     height: 18px;
     width: 18px;
     background-color: #09052e;
     border-radius: 2px
 }

 .wrapper .card .option:hover input~.checkmark {
     background-color: #09052e
 }

 .wrapper .card .option input:checked~.checkmark {
     border: none;
     background-color: #333;
     transition: 300ms ease-in-out all
 }

 .checkmark:after {
     content: "\2713";
     position: absolute;
     display: none;
     color: #09052e;
     font-size: 1rem
 }

 .wrapper .card .option input:checked~.checkmark:after {
     display: block
 }

 .wrapper .card .option .checkmark:after {
     left: 3px;
     top: -3px;
     width: 5px;
     height: 10px
 }

 .wrapper .card .btn.btn-primary {
     border-radius: 20px;
     width: 100px;
     background-color: #480470;
     color: white;
     border: none
 }

 .wrapper .card .btn.btn-primary:hover {
     color: white;
     background: #480470;
 }

 .wrapper .card .btn.btn-primary:focus {
     border: none;
     box-shadow: none
 }

 .wrapper .card .text-light-white {
     color: white
 }

 .wrapper .card .line span.connect {
     position: absolute;
     top: -12px;
     left: 33%;
     color: #000;
     padding: 0 0.3rem;
     z-index: 100;
     border-radius: 2px;
     background-color: #09052e
 }

 .wrapper .card .connections a img {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     object-fit: cover
 }

 @media(max-width: 370px) {
     .wrapper .card .line:after {
         left: 27%
     }
 }

 @media(max-width: 350px) {
     .wrapper {
         margin: 10px auto
     }

     .wrapper .card {
         margin: 10px
     }
 }