<div class="container mt-5">
    <div *ngIf="(basket$ | async) === null">
        <div class="container-fluid mt-10">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                
                <div class="card-body cart">
                    <div class="col-sm-12 empty-cart-cls text-center"> <img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
                        <h3 style="color:#09052e;"><strong>Your Cart is Empty</strong></h3>
                        <h4 style="color:#09052e;">Add something to make me happy :)</h4> <a routerLink="/shop" style="color:white;" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <div *ngIf="basket$ | async">
        <div class="pb-2">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 mb-2">
                        <app-basket-summary 
                            (decrement)="decrementItemQuantity($event)"
                            (increment)="incrementItemQuantity($event)"
                            (remove)="removeBasketItem($event)"
                            [items]="(basket$ | async).items"></app-basket-summary>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12  mb-2">
                        <app-order-totals 
                            *ngIf="(basketTotals$ | async)"
                            [shippingPrice]="(basketTotals$ | async).shipping"
                            [subtotal]="(basketTotals$ | async).subtotal" 
                            [total]="(basketTotals$ | async).total">
                        </app-order-totals>
                        <p>      </p>
                        <a class="blur" routerLink="/checkout" class="btn btn-primary   btn-block">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>