

<section style="margin-top:20px" class="blur">
<div class="mt-4" [formGroup]="checkoutForm">
    <h4 class="mb-3" style="padding: 10px ;">Choose your delivery method</h4>
    <div class="col-75" formGroupName="deliveryForm">
        <div class="col-25 ml-5 form-group" *ngFor="let method of deliveryMethods">
            <input type="radio" 
                id={{method.id}} 
                (click)="setShippingPrice(method)"
                value={{method.id}} 
                formControlName="deliveryMethod"
                class="custom-control-input">
            <label for="{{method.id}}" class="custom-control-label">
                <strong>{{method.shortName}} - {{method.price | currency:'R'}}</strong>
                <br>
                <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-row flex-lg-row mt-2 mb-5">
    <button class="btn btn-outline-primary" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> <i class="fas fa-2x fa-map-marked-alt"></i>
    </button>
    <button [disabled]="checkoutForm.get('deliveryForm').invalid" class="btn btn-primary" cdkStepperNext>
        <i class="fas fa-2x fa-eye"></i> <i class="fa fa-angle-right"></i> 
    </button>
</div>

</section>