<div style="color: #09052e;" class="container mt-5">
    <div style="color: #09052e;" class="row" *ngIf="order">
        <div style="color: #09052e;" class="col-12 py-5 mb-1">
            <app-basket-summary
            style="color: #09052e;"
                [items]="order.orderItems"
                [isBasket]="false"
                [isOrder]="true"
            >
            </app-basket-summary>
        </div>
        <div class="col-12 py-1 mb-1 ">
                <app-order-totals
                    [shippingPrice]="order.shippingPrice"
                    [subtotal]="order.subtotal"
                    [total]="order.total"
                    [address]="order.shipToAddress"
                >
                </app-order-totals
                >
        </div>
    </div>
</div>
