<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet" />
<!-- Mobile filters section -->

<div  class="sidebar" id="mobile-filter">
    <div class="col-lg-4 d-flex justify-content-start" *ngIf="products">
        <div class="border-bottom mb-2 ml-2">
            <h4 id="burgundy">Filters</h4>
            
        </div>
        <div class="col-lg-4 d-flex justify-content-start mb-2 " *ngIf="products">
            
            <button (click)="onReset()"  class="btn btn-outline-primary justify-content-start ml-2 mb-2">Reset</button>
        
        </div>

        
        
    </div>

    <div class="container" style="width: 70%" class=" border-bottom ml-2">
        <h6 id="burgundy" class="font-weight-bold ml-2">Sort</h6>
        <select name="sort" id="sort" class="custom-select mb-1" (change)="onSortSelected($event.target.value)">
            <option id="search" *ngFor="let sort of sortOptions" [selected]="shopParams.sort === sort.value"
                [value]="sort.value">
                {{sort.name}}
            </option>
        </select>
    </div>

   <div class="wrap-collabsible">
    <input id="collapsible2" class="toggle" type="checkbox" > 
    <label style="color: #480470;" for="collapsible2" class="lbl-toggle ">Categories</label>
    
    <div class="collapsible-content">
        <div *ngIf="types && brands" class="content-inner">
    <div class="t-outline-pill"  *ngFor="let type of types"
        [class.active]="type.id === this.shopParams.typeId" 
        value="type.id" 
        (click)="onTypeSelected(type.id)">
        {{type.name}}
    </div>
    </div>
    </div>
    </div>

   

    <div class="wrap-collabsible">
        <input id="collapsible3" class="toggle" type="checkbox">
        <label style="color: #480470;" for="collapsible3" class="lbl-toggle ">Brands</label>
    
        <div class="collapsible-content">
            <div *ngIf="types && brands" class="content-inner">
                <div class="t-outline-pill" *ngFor="let brand of brands" [class.active]="brand.id === this.shopParams.brandId"
                    value="brand.id" (click)="onBrandSelected(brand.id)">
                    {{brand.name}}
                </div>
            </div>
        </div>
    </div>


    <!--<div class="wrap-collabsible">
        <input id="collapsible2" class="toggle" type="checkbox">
        <label style="color: #480470;" for="collapsible2" class="lbl-toggle ">Brands</label>
    
        <div class="collapsible-content">
            <div *ngIf="types && brands" class="content-inner">
                <div class="t-outline-pill" *ngFor="let brand of brands" [class.active]="brand.id === this.shopParams.brandId"
                    value="brand.id" (click)="onBrandSelected(brand.id)">
                    {{brand.name}}
                </div>
            </div>
        </div>
    </div>
-->



<!--<ul class="m-d expand-list">

    <li data-md-content="600">
        <label style="color: #09052e;" name="tab" for="tab2" tabindex="-1" class="tab_lab" role="tab">Categories</label>
        <input type="checkbox" class="tab" id="tab2" tabindex="0" />
        <span class="open-close-icon"><i style="color: #09052e;" class="fas fa-plus"></i><i style="color: #09052e;" class="fas fa-minus"></i></span>
        <div *ngIf="types && brands" id="orange" class="content">
            <ul  class="list-group my-3">
                <li class="list-group-item" *ngFor="let type of types"
                    [class.active]="type.id === this.shopParams.typeId" [value]="type.id"
                    (click)="onTypeSelected(type.id)">
                    {{type.name}}
                </li>
            </ul> 
            <div class="t-outline-pill" class="list-group-item" *ngFor="let type of types"
                [class.active]="type.id === this.shopParams.typeId" value="type.id" (click)="onTypeSelected(type.id)">
                {{type.name}}</div>
        </div>
        <div *ngIf="types && brands" class="row">
            <div class="t-outline-pill" class="list-group-item" *ngFor="let type of types"
                [class.active]="type.id === this.shopParams.typeId" value="type.id" (click)="onTypeSelected(type.id)">
                {{type.name}}</div>
        
        </div> 
    </li>

</!--<ul> -->

  
</div>
<!-- Sidebar filter section -->
<section class="sidebar" id="sidebar">
    
    <div class="border-bottom pb-2 ml-2">
        <h4 id="burgundy">Filters</h4>
        <button (click)="onReset()" style="color: white" class="btn btn-primary ml-2 mt-2 my-2">Reset</button>
    </div>

    <div class="container" class="py-2 border-bottom ml-3">
        <h6 id="burgundy" class="font-weight-bold">Sort</h6>
        <select name="sort" id="sort" class="custom-select mb-2" (change)="onSortSelected($event.target.value)">
            <option id="search" *ngFor="let sort of sortOptions" [selected]="shopParams.sort === sort.value"
                [value]="sort.value">
                {{sort.name}}
            </option>
        </select>
    </div>

  
    <div class="wrap-collabsible">
        <input id="collapsible4" class="toggle" type="checkbox">
        <label style="color: #480470;" for="collapsible4" class="lbl-toggle ">Categories</label>
    
        <div class="collapsible-content">
            <div *ngIf="types && brands" class="content-inner">
                <div class="t-outline-pill" *ngFor="let type of types" [class.active]="type.id === this.shopParams.typeId"
                    value="type.id" (click)="onTypeSelected(type.id)">
                    {{type.name}}
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-4">
    
    
    <div class="wrap-collabsible">
        <input id="collapsible5" class="toggle" type="checkbox">
        <label style="color: #480470;" for="collapsible5" class="lbl-toggle ">Brands</label>
    
        <div class="collapsible-content">
            <div *ngIf="types && brands" class="content-inner">
                <div class="t-outline-pill" *ngFor="let brand of brands"
                    [class.active]="brand.id === this.shopParams.brandId" value="brand.id"
                    (click)="onBrandSelected(brand.id)">
                    {{brand.name}}
                </div>
            </div>
        </div>
    </div>

    <hr class="hr-4">

</section>
<!-- products section -->
<section class="sidebar" id="products">
    <div class="container">

        <div class="col-lg-4 d-flex justify-content-center " *ngIf="products">
            <input (keyup.enter)="onSearch()" id="search" class="form-control " #search style="width: 70%; margin: 5px "
                placeholder="Search" type="text">
            <button (click)="onSearch()"  class="btn btn-outline-primary   mt-1"><i class="fas fa-search mr-2"></i></button>
            
        </div>
        
        <div   class="d-flex flex-row">

            <div style="color: #09052e"  class=" m-3 " id="res"><app-paging-header  [totalCount]="totalCount" [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber"></app-paging-header></div>
                
        
           
        </div>
    <div class="row ">
        <div class="col-lg-4 d-flex justify-content-center" *ngFor="let item of products">
            <app-product-item [product]="item"></app-product-item>
        </div>
    </div>

    <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager [pageSize]="shopParams.pageSize" [pageNumber]="shopParams.pageNumber" [totalCount]="totalCount"
            (pageChanged)="onPageChanged($event)"></app-pager>
    </div>


    </div>
</section>


<section style="height: 10px; ">
    <p>    </p>

    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
</section>

